@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
}

p,
a {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  line-height: 1.8em;
}
@media (max-width: 600px) {
  p,
  a {
    font-size: 16px;
  }
}

h1,
h2,
h3 {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}
@media (max-width: 600px) {
  h1,
  h2,
  h3 {
    font-size: 20px;
  }
}

.bg {
  width: 100vw;
  height: 100vh;
  background-color: #171717;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.hero {
  z-index: 10000;
  max-width: 1400px;
  margin-bottom: 20px;
}
.hero div {
  padding: 100px 50px;
}
.hero div h1 {
  font-size: min(8.7vw, 150px);
  font-weight: bold;
  color: white;
}
.hero div .span0 {
  height: 12.7vw;
  max-height: 180px;
  display: inline-block;
  vertical-align: bottom;
}
.hero div h1 .inner1 {
  display: block;
  position: relative;
  overflow: hidden;
}
.hero div h1 .inner1::after {
  content: "";
  display: block;
  width: 0%;
  height: 1px;
  background: white;
  position: absolute;
  bottom: 0;
}
.hero div h1 .inner1.on::after {
  animation: bottomLine 1.7s ease forwards;
}
@keyframes bottomLine {
  0% {
    width: 0%;
  }
  60% {
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 0;
  }
}
.hero div h1 .inner2 {
  overflow: hidden;
  height: 0;
  display: inline-block;
  transition: 1s;
  vertical-align: bottom;
}
@media (max-width: 600px) {
  .hero .phon {
    margin-bottom: 55px;
  }
}

.profile_title {
  padding-top: 200px;
  position: relative;
  max-width: 200px;
  margin: 0 auto;
}
.profile_title h2 {
  text-align: center;
  font-size: 50px;
}
.profile_title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: translateX(0);
  animation: title 3s infinite;
}

.profile {
  max-width: 1280px;
  margin: 0 auto;
  width: calc(100% - 20px);
}
.profile .plofile_main {
  margin: 100px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 1000px) {
  .profile .plofile_main {
    grid-template-columns: 1fr;
  }
}
.profile .plofile_main .plofile_img {
  width: 300px;
  height: 300px;
  margin: 0 auto;
}
.profile .plofile_main .plofile_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 1000px) {
  .profile .plofile_main .plofile_text {
    margin: 50px auto 0 auto;
  }
}
.profile .plofile_main .plofile_text h2 {
  font-size: 40px;
  margin-bottom: 10px;
}
.profile .plofile_main .plofile_text .plofile_text_main {
  margin: 20px auto;
}
.profile .plofile_main .plofile_text .plofile_link a {
  width: 30px;
  height: 30px;
  transition: 0.3s;
  margin-right: 20px;
}
.profile .plofile_main .plofile_text .plofile_link a img {
  width: 30px;
  height: 30px;
}
.profile .plofile_main .plofile_text .plofile_link a:hover {
  opacity: 0.5;
}

.works_title {
  padding-top: 200px;
  position: relative;
  max-width: 200px;
  margin: 0 auto;
}
@media (max-width: 1000px) {
  .works_title {
    padding-top: 100px;
  }
}
.works_title h2 {
  text-align: center;
  font-size: 50px;
}
.works_title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: translateX(0);
  animation: title 3s infinite;
}

.contact_title {
  position: relative;
  max-width: 200px;
  margin: 0 auto;
}
.contact_title h2 {
  text-align: center;
  font-size: 50px;
}
.contact_title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: translateX(0);
  animation: title 3s infinite;
}

@keyframes title {
  0% {
    transform: scaleX(0);
    transform-origin: left;
    display: block;
  }
  30% {
    transform: scaleX(1);
    transform-origin: left;
  }
  31% {
    transform-origin: right;
  }
  59% {
    display: block;
  }
  60% {
    transform: scaleX(0);
    transform-origin: right;
  }
  100% {
    transform: scaleX(0);
    transform-origin: right;
  }
}
.works_main {
  z-index: 1;
  max-width: 1080px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 100px auto;
}
@media (max-width: 1000px) {
  .works_main {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 600px) {
  .works_main {
    grid-template-columns: 1fr;
  }
}
.works_main .works_box {
  width: 300px;
  height: 340px;
  margin: 20px auto;
  transition: 0.3s;
  position: relative;
}
.works_main .works_box:hover .works_img::after {
  opacity: 1;
}
.works_main .works_box:hover p::after {
  transform: scaleX(1);
  transform-origin: left;
}
.works_main .works_box p {
  display: inline-block;
  position: relative;
  margin-top: 10px;
}
.works_main .works_box p::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  bottom: 0;
  left: 0;
  transition: transform 0.3s;
  transform: scaleX(0);
  transform-origin: right;
}
.works_main .works_box .works_img {
  width: 300px;
  height: 300px;
  position: relative;
  background-color: #fff;
}
.works_main .works_box .works_img::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 0.3s;
}
.works_main .works_box .works_img img {
  width: 300px;
  height: 250px;
  object-fit: cover;
  margin-top: 25px;
}

.workspage {
  max-width: 1280px;
  margin: 0 auto;
}
.workspage .workspage_main {
  width: 100%;
  margin: 0 auto;
}
.workspage .workspage_main img {
  width: 100%;
}
.workspage .workspage_text {
  max-width: 800px;
  width: calc(100% - 20px);
  margin: 0 auto;
}
.workspage .workspage_text h2 {
  margin-bottom: 20px;
}
.workspage .workspage_text h3 {
  font-weight: normal;
  margin-bottom: 20px;
}
.workspage .workspage_text p {
  margin-bottom: 60px;
}
.workspage .workspage_text span {
  font-size: 12px;
  color: #888;
}
.workspage .workspage_link {
  display: block;
  margin: 0 auto 50px auto;
  max-width: 1280px;
  display: flex;
  width: calc(100% - 20px);
}
.workspage .workspage_link a {
  display: inline-block;
  padding: 10px 50px;
  border: 1px solid #fff;
  margin: 0 auto;
  transition: all 0.3s;
  text-decoration: underline transparent;
  text-align: center;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.workspage .workspage_link a::after {
  content: "";
  position: absolute;
  width: calc(100% - 100px);
  height: 1px;
  background-color: #fff;
  bottom: 10px;
  left: 50px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s;
}
.workspage .workspage_link a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.workspage .workspage_link a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.contact {
  max-width: 1280px;
  width: calc(100% - 20px);
  margin: 50px auto;
  text-align: center;
}
.contact a {
  display: inline-block;
  margin-top: 50px;
  padding: 20px 50px;
  border: 2px solid #fff;
  position: relative;
}
.contact a::after {
  content: "";
  position: absolute;
  width: calc(100% - 100px);
  height: 2px;
  background-color: #fff;
  bottom: 20px;
  left: 50px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s;
}
.contact a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

footer {
  width: 100%;
  margin-top: 200px;
  min-height: 100px;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
footer p {
  font-size: 18px;
}/*# sourceMappingURL=style.css.map */